html body {
  margin: 0;
  background-image: linear-gradient(-45deg, #fff 25%, #ffff7f 25%, #ffff7f 50%, #fff 50%, #fff 75%, #ffff7f 75%);
  background-size: 30px 30px;
}

html body .button {
  height: 100px;
  width: 300px;
  position: absolute;
  left: 0;
  top: 40px;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #a3ffff;
}

html body #alert1, html body #alert2 {
  width: 600px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -140px);
          transform: translate(-50%, -140px);
  background-color: #e6eae6;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body #alert1.add1, html body #alert2.add1 {
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

html body #alert1.add2, html body #alert2.add2 {
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  background-color: #9fc24d;
}

html body #answer {
  height: 100px;
  width: 300px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 0;
  top: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

html body #answer .answer-item {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 100px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

html body #answer .answer-item#judge-html {
  background-color: #ffc1ff;
  z-index: 100;
}

html body #answer .answer-item#correct {
  background-color: #ea5549;
}

html body #answer .answer-item#correct.add {
  z-index: 200;
}

html body #answer .answer-item#incorrect {
  background-color: #e6eae6;
}

html body #answer .answer-item#incorrect.add {
  z-index: 200;
}

html body .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px;
  height: 600px;
  margin: 140px auto 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .wrap .cards {
  border: solid 1px transparent;
  border-radius: 10px;
  width: 150px;
  height: 225px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */